$color-1: #FFEEDD;
$color-link: #989af2;

$grey-10: #F5F6F5;
$grey-20: #DEE0E0;
$grey-30: #C7C9CB;
$grey-40: #B0B0B6;
$grey-50: #2D4E57;

$brand-color: #F2C398;
$text-color: #262626;
$header-color: #504766;