@import "variables";

.blog-section {
  .blog-title {
    margin-bottom: 32px;
  }
}

.blog-wrapper {
  max-width: 700px;
  margin: 0 auto 64px auto;
}

.blog-wrapper .blog-date {
  color: $grey-50;
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

.blog-wrapper .blog-title {
  color: #504766;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 64px;
}

.blog-wrapper pre code {
  display: block;
  font-size: 14px;
}

@media screen and (min-width: 545px) {
  .blog-wrapper .blog-title {
    font-size: 64px;
    line-height: 1.2;
  }
}

/*
 * ################################
 * ARTICLE
 * ################################
 */

article {
  color: $text-color;

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    margin-bottom: 0.5em;
    margin-top: $paragraph-margin * 1.5;
    // color: $sub-text-color;
  }

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
    ~ h3 {
      margin-top: $paragraph-margin;
    }
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
    font-weight: 400;
  }
  h5 {
    font-size: 22px;
    font-weight: 400;
  }

  p,
  li {
    font-size: 1.125em;
    line-height: 1.5;
    margin-bottom: $paragraph-margin;

    code {
      font-size: 0.85em;
      padding: 0.05em 0.25em;
      background: $grey-10;
      border-radius: 3px;
      font-family: $font-mono;
    }

    em {
      font-style: italic;
    }

    strong {
      font-weight: 700;
    }
  }

  a {
    position: relative;
    display: inline;
    font-weight: 700;
    color: $grey-50;
    box-shadow: inset 0px -6px 0px 0px rgba(133, 135, 240, 0.4);
    transition: all 0.1s ease-in-out;

    &::before {
      position: absolute;
      display: none;
      // content: '';
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 6px;
      background-color: $color-link;
      opacity: 0.35;
      z-index: -1;

      transition: all 0.1s ease-in-out;
    }

    &:hover {
      text-decoration: none;
      box-shadow: inset 0px -0.8em 0px 0px rgba(133, 135, 240, 0.4);

      &::before {
        height: 60%;
      }
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 1.5em;
    margin-bottom: $paragraph-margin;

    li {
      margin: 0;
    }
  }

  img {
    width: 100%;
    border: 1px solid $grey-30;
    border-radius: 8px;
    box-sizing: border-box;

    @media screen and (min-width: 900px) {
      margin-left: -80px;
      margin-right: -80px;
      width: calc(100% + 160px);
    }
  }

  hr {
    height: 2px;
    background: $grey-50;
    border-radius: 50%;
    border: none;
    width: 25%;
    margin: 64px auto 80px auto;
  }

  /* Codes */
  pre {
    display: block;
    border-radius: 8px;
    margin-bottom: $paragraph-margin;
    max-height: 600px;
    overflow: auto;
    code {
      font-size: 14px;
      line-height: 24px;
      span {
        color: inherit;
        font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    }

    + p,
    + img {
      margin-top: $paragraph-margin;
    }
  }

  .note {
    padding: 16px 12px;
    margin-bottom: 1.96em;
    border-radius: 8px;
    background-color: $color-info;

    p {
      position: relative;
      font-size: 1em;
      color: $grey-50;
      margin-bottom: 0;

      &:first-child {
        &::before {
          content: "ℹ️ ";
        }
      }
    }
  }
}

@media screen and (min-width: 545px) {
  article {
    p {
      font-size: 1.11111em;
      line-height: 1.5;
    }
  }
}
