@import "variables";

.blog-section {
  .blog-title {
    margin-bottom: 32px;
  }
}

.blog-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;

  svg {
    fill: #FFA5C0;
  }
}

.blog-wrapper {
  margin: 48px auto 128px auto;

  .blog-meta {
    max-width: $article-max-width;
    margin: 0 auto 48px auto;
    text-align: left;
  }

  .blog-title {
    color: #2F2F2F;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.25em;
  }

  .blog-date {
    color: $grey-50;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    margin: 2em 0;
  }

  .blog-image {
    text-align: center;

    img {
      width: 100%;
      max-width: 860px;
    }
  }
}

@media screen and (min-width: 545px) {
  .blog-wrapper .blog-title {
    font-size: 5.2rem;
    line-height: 1.1;
  }
}

/*
 * ################################
 * ARTICLE
 * ################################
 */

article {
  max-width: $article-max-width;
  margin: 0 auto;
  color: $text-color;

  * {
    > em {
      font-style: italic;
    }

    > strong {
      font-weight: 700;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    margin-top: 2em;

    + p,
    + ul,
    + ol {
      margin-top: 0.5em;
    }
  }

  h2,
  h3 {
    font-family: $font-domine;
    font-weight: 400;

    + p {
      margin-top: 1em;
    }
  }

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
    margin-top: 2.5em;
  }

  h4 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    /* letter-spacing: 0.025em; */
    margin-top: 1em;
  }

  h5 {
    font-size: 2rem;
    font-weight: 500;
  }

  p,
  li {
    font-size: 1.8rem;
    line-height: 1.5;

    code {
      font-size: 1.3rem;
      padding: 0.25em 0.25em;
      background: #e5e6ef;
      border-radius: 3px;
      font-family: $font-mono;
      white-space: pre-wrap;
    }
  }

  p {
    margin: 1.6em 0;
  }

  a {
    position: relative;
    display: inline;
    font-weight: 500;
    // color: #494581;
    // text-decoration: underline;
    // box-shadow: inset 0px -4px 0px 0px $color-1;
    // background: linear-gradient(180deg, transparent 60%, $color-1 30%);
    transition: all 1s ease-in-out;

    &::before {
      position: absolute;
      // display: none;
      // content: "";
      left: 0;
      bottom: 0;
      width: 0;
      height: 30%;
      background-color: $color-1;
      // opacity: 0.35;
      overflow: hidden;
      // transform: translateX(-100%);
      // z-index: 1;

      transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover {
      // text-decoration: none;
      // box-shadow: inset 0px -0.8em 0px 0px $color-1;
      // background: linear-gradient(180deg, transparent 0%, $color-1 100%);

      &::before {
        // height: 60%;
        width: 100%;
        // transform: translateX(0);
      }
    }
  }

  ol {
    list-style: decimal outside none;
    margin: 2em 0 2em 1em;

    li {
      counter-increment: item;
      list-style-type: none;
      text-indent: -1rem;
      margin: 0;
      // padding: 0 0 0 1rem;

      &::before {
        display: inline-block;
        content: counter(item) ".";
        font-weight: 500;
        padding-right: 0.5rem;
        text-align: right;
        width: 1.5rem;
      }
    }
  }

  ul {
    list-style-type: disc;
    margin: 2em 0 2em 1.5em;
    li {
      margin: 0;
    }
  }

  ol,
  ul {
    li {
      margin-bottom: 0.25em;
    }
  }

  img {
    width: 100%;
    border: 1px solid $grey-30;

    @media screen and (min-width: 900px) {
      // margin-left: -80px;
      // margin-right: -80px;
      // width: calc(100% + 160px);
    }
  }

  hr {
    height: 2px;
    background: $grey-50;
    border-radius: 50%;
    border: none;
    width: 35%;
    margin: 4em auto;
  }

  /* Codes */
  pre {
    display: block;
    border-radius: 8px;
    margin-bottom: 2em;
    max-height: 600px;
    overflow: auto;
    code {
      display: block;
      font-size: 14px;
      line-height: 24px;
      color: $sub-text-color;
      span {
        color: inherit;
        font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    }

    + p,
    + img {
      margin-top: 2em;
    }
  }

  .note {
    padding: 1em;
    margin: 2em 0;
    border-radius: 8px;
    background-color: $grey-10;

    > *:first-child {
      margin-top: 0;
    }

    p {
      position: relative;
      font-size: 1em;
      color: $grey-50;
      margin-bottom: 0;

      &:first-child {
        &::before {
          content: "ℹ️ ";
        }
      }
    }
  }

  .bordered {
    padding: 0.5em 1em;
    border: 1px solid $grey-30;
    border-radius: 8px;
    margin: 4em 0;

    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }

    &.success {
      position: relative;
      text-align: center;
      border: none;
      background-color: white;

      &::before {
        position: absolute;
        content: "";
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        left: -4px;
        top: -4px;
        border-radius: 12px;
        background: linear-gradient(92deg, #d3acfb, #ff5050);
        background-size: 100vw 100vw;
        animation: hueAnimate 6s linear infinite;
        z-index: -1;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 1em;
        left: 0;
        border-radius: 12px;
        // background-color: $color-1;
        background: repeating-linear-gradient(
          -45deg,
          rgba(255, 255, 255, 0) 0,
          rgba(255, 255, 255, 0) 6px,
          $color-success 6px,
          $color-success 8px
        );
        z-index: -2;
      }
    }
  }
}

@media screen and (min-width: 545px) {
  article {
    h2,
    h5,
    h6 {
      margin-top: 2em;
    }

    h2 {
      font-size: 3rem;
      line-height: 1.5;
    }

    h3 {
      font-size: 2.4rem;
    }

    h4 {
      font-size: 2.2rem;
      line-height: 1.5;
      margin-top: 2em;
    }

    p,
    li {
      font-size: 2rem;
      line-height: 1.625;

      code {
        font-size: 1.7rem;
        padding: 0.125em 0.25em;
      }
    }

    img {
      border-radius: 8px;
    }

    hr {
      margin: 6em auto;
    }
  }
}

@media screen and (min-width: 768px) {
  article {
    .bordered {
      &.success {
        &::after {
          top: 1em;
          left: 1em;
        }
      }
    }
  }
}

@keyframes hueAnimate {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
  }

  to {
    filter: hue-rotate(360deg);
    // background-position-x: 200vw;
  }
}
