/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ################################
 * MAIN global styles            */

@import 'variables';

body {
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
	font-weight: 700;
	// color: $header-color;
}

p, a, span {
	color: $text-color;
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricprecision;
}

a { color: $color-link; }
h1 { font-size: 32px; }

.poppins { font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif; }
.domine  { font-family: 'Domine', -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif; }

.section {
	margin-bottom: 128px;
}

article {
	p {
		font-size: 1em;
		line-height: 1.85;
		margin-bottom: 1.960em;

		code {
			font-size: 0.850em;
			padding: 0.050em 0.250em;
			background: $grey-10;
			border-radius: 3px;
			font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
		}
	}

	hr {
		height: 2px;
    background: $grey-50;
    border-radius: 50%;
    border: none;
    width: 25%;
    margin: 64px auto 80px auto;
	}

	/* Codes */
	pre {
		display: block;
		border-radius: 8px;
		margin-bottom: 1.610em;
		max-height: 600px;
		overflow: auto;
		code {
			font-size: 14px;
			line-height: 24px;
			span {
				color: inherit;
				font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
			}
		}	
	}
}